%header{ class: "border-b border-stone-200" }
  %div{ class: "max-w-5xl mx-auto px-6 py-4 flex items-center justify-between text-stone-900" }

    %div{ class: "flex items-end gap-6" }
      %span{ class: "text-lg font-semibold leading-none" }= link_to "Budget", root_path, class: "hover:text-stone-600"
      = link_to "Current Month", budget_month_path(month: Date.current.strftime("%Y-%m")), class: "text-sm leading-none underline"
      = link_to "Transactions", transactions_path(month: Date.current.strftime("%Y-%m")), class: "text-sm leading-none underline"
      = link_to "Categories", categories_path, class: "text-sm leading-none underline"
      = link_to "Accounts", accounts_path, class: "text-sm leading-none underline"

    %div{ class: "flex items-center gap-4" }
      = link_to "Reports", reports_utilities_path, class: "text-sm leading-none underline inline-flex items-center"
      = button_to "Sign out", session_path, method: :delete, form: { class: "inline-flex items-center" }, class: "text-sm leading-none underline bg-transparent border-none p-0 inline-flex items-center hover:cursor-pointer"
