-# locals: t:, categories:, flash_updated: (optional)
- flash_updated = (local_assigns[:flash_updated] == true)
- row_data = flash_updated ? { controller: "flash-row" } : nil

%tr{ id: dom_id(t), class: "border-t border-stone-200", data: row_data }
  %td{ class: "p-3" }= t.occurred_on
  %td{ class: "p-3" }= t.description
  %td{ class: "p-3" }= t.account&.name

  %td{ class: "p-3" }
    = form_with model: t,
      url: transaction_path(t),
      method: :patch,
      data: { controller: "autosubmit" } do |f|
      = f.select :category_id,
        options_from_collection_for_select(categories, :id, :name, t.category_id),
        {},
        class: "border border-stone-300 p-2 text-sm w-full",
        data: { action: "change->autosubmit#submit" }

  %td{ class: "p-3 text-right" }= number_to_currency(t.amount_cents.to_i / 100.0)
  %td{ class: "p-3 text-right" }= link_to "Edit", edit_transaction_path(t), class: "text-sm underline"
