!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "BudgetApp"
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body{ class: "text-stone-900" }
    - if notice.present?
      %div{ class: "max-w-3xl mx-auto px-6 pt-6" }
        %div{ class: "border border-stone-300 p-3 text-sm" }= notice

    - if alert.present?
      %div{ class: "max-w-3xl mx-auto px-6 pt-6" }
        %div{ class: "border border-stone-300 p-3 text-sm" }= alert

    = yield